<div class="step black-text" data-x="-470" data-y="-2200" data-scale="0.5">
    <table>
        <thead>
        <tr>
            <th colspan="3">
                <h1 class="text-center">WHO WE ARE?</h1>
            </th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="{{ asset("fran.png") }}" alt="Fran" width="20%"></td>
                <td></td>
            </tr>
            <tr>
                <td><img src="{{ asset("rafal.png") }}" alt="Rafal"  width="20%"></td>
                <td></td>
            </tr>
            <tr>
                <td><img src="{{ asset("pedro.png") }}" alt="Rafal"  width="20%"></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>