<div class="step" data-x="-6100"  data-y="-10100"  data-scale="2">
    <p class="section">REQUISITOS:</p>
    <p>Linux/Mac, Ansible, Vagrant, Virtualbox</p>
    <br>
    <p class="section">REPOSITORIO:</p>
    <p>
        <a href="https://github.com/summa-io/open-south-2018-example-code" class="text-white">https://github.com/summa-io/open-south-2018-example-code</a>
    </p>
</div>