<div class="step" data-x="17400" data-y="400" data-scale="2.4">
    <h2>ENTORNO DESARROLLO</h2>
    <div class="black-text">
        <p class="section">Requisitos:</p>
        <ul class="normal-text">
            <li>Jenkins</li>
            <li>Sonarqube</li>
            <li>Docker</li>
        </ul>
        <p class="section">Responsabilidades:</p>
        <ul class="normal-text">
            <li>Automatización de procesos (Jenkins)</li>
            <li>Análisis de código (sonarqube)</li>
            <li>Generador de entornos (docker)</li>
        </ul>
    </div>
</div>