<div class="step" data-x="16950" data-y="2800" data-scale="5.2">
    <h2>ENTORNO DE TEST</h2>
    <div>
        <p class="section">Requisitos:</p>
        <ul class="normal-text">
            <li>Docker</li>
        </ul>
        <p class="section">Responsabilidades:</p>
        <ul class="normal-text">
            <li>Ejecución de Test Unitarios</li>
            <li>AEjecución de Test Funcionales</li>
        </ul>
    </div>
</div>