<div class="step" data-x="13300" data-y="2000" data-scale="3">
    <h2>ENTORNO DE STAGING</h2>
    <div>
        <p class="section">Requisitos:</p>
        <ul class="normal-text">
            <li>Docker</li>
        </ul>
        <p class="section">Responsabilidades:</p>
        <ul class="normal-text">
            <li>Ejecución de Aceptación / E2E</li>
        </ul>
    </div>
</div>