<div class="step" data-x="10500" data-y="9400" data-scale="2.5">
    <h2>ENTORNO DE PRODUCCIÓN</h2>
    <div>
        <p class="section">Requisitos:</p>
        <ul class="normal-text">
            <li>Varios Nodos</li>
            <li>Múltiples instancias</li>
            <li>Máxima Disponibilidad</li>
            <li>Fácil Mantenibilidad</li>
            <li>Docker swarm</li>
        </ul>
    </div>
</div>