<div class="step" data-x="11400" data-y="11800" data-scale="2.5">
    <h2>AUTOMATIZACIÓN PROCESOS</h2><br>
    <img src="{{ asset("icn/jenkins.png") }}" alt="" style="height: 100%; margin-top: 200px">
</div>