<div class="step" data-x="7100" data-y="11400" data-scale="3">
    <h2>PIPELINE</h2>
    <div class="black-text">
        <p class="section">Steps</p>
        <ol class="normal-text">
            <li>Análisis de código estático (Develop)</li>
            <li>Construcción de la imagen de docker (Develop)</li>
            <li>Ejecución de test unitarios y funcionales (Test) en paralelo</li>
            <li>Ejecución de test de aceptación (staging)</li>
            <li>Deploy en producción</li>
        </ol>
    </div>
</div>