<div class="step" data-x="-2400" data-y="-10800" data-scale="3.2">
    <h2>QUIENES SOMOS?</h2>
    <table style="width: 100%;" class="black-text">
        <tbody>
        <tr>
            <td width="15%">
                <div><img src="{{ asset("fran.png") }}" alt="Fran" width="100%" style="margin: 15px;"></div>
            </td>
            <td>
                <p>Fco. Javier Avendaño Rubio <small>QA Engineer</small></p>
            </td>
        </tr>
        <tr>
            <td width="15%">
                <div><img src="{{ asset("rafal.png") }}" alt="Fran" width="100%" style="margin: 15px;"></div>
            </td>
            <td>
                <p>Rafal Kozlowski <small>Software Engineer</small></p>
            </td>
        </tr>
        <tr>
            <td width="15%">
                <div><img src="{{ asset("pedro.png") }}" alt="Fran" width="100%" style="margin: 15px;"></div>
            </td>
            <td>
                <p>Pedro Parra Ortega (@pedrowsf) <small>Software Engineer</small></p>
            </td>
        </tr>
        </tbody>
    </table>
</div>

