<div class="step" data-x="-1200"  data-y="-13300" data-scale="3.5">
    <h2>Quién es SUMMA?</h2>
    <div class="black-text normal-text">
        <ul>
            <li>Software company</li>
            <li>Founded at 2015</li>
            <li>21 software Developers, 2 scrum masters, 4 QAs</li>
            <li>In charge of the maintenance and creation of new features for Voiceworks</li>
            <li>2 offices in Spain (Malaga, Madrid)</li>
            <li>1 office in Serbia (Belgrade)</li>
            <li>2 offices in Netherlands (Almere/Amsterdam)</li>
        </ul>
    </div>

</div>