<div class="step" data-x="-1300"  data-y="-13500" data-scale="3.5">
    <h2>Quién es SUMMA?</h2>
    <div class="black-text">
        <p style="text-align: center;">Summa is a software company that designs and develops
            innovative communications solutions and platforms for service providers, telco’s, hosting providers or any
            organization looking to add communications services to their portfolio. Summa focuses on creating SaaS services
            based on unified communications&nbsp;and WebRTC. </p>
        <p style="text-align: center;">Summa evolved from the 12-year-established Dutch and German cloud service voice
            provider <a href="http://www.voiceworks.com/"
                        data-saferedirecturl="https://www.google.com/url?hl=nl&amp;q=http://www.voiceworks.com/&amp;source=gmail&amp;ust=1489069069157000&amp;usg=AFQjCNFOi-JjvU0HQd5FNsenp3wi4G472g">Voiceworks</a>.
        </p>
        <p style="text-align: center;">With our joint venture Summa Networks we are also active in the development of
            telecom software. Check out&nbsp;<a href="http://www.summanetworks.com/"
                                                data-saferedirecturl="https://www.google.com/url?hl=nl&amp;q=http://www.summanetworks.com&amp;source=gmail&amp;ust=1489069069157000&amp;usg=AFQjCNHTQO7giCM2JcWgWABuf1FtJAHn2g">summanetworks.com</a>
            for more details.</p>
        <p style="text-align: center;">Summa is also part of <a href="https://withinreach.nl/" target="_blank"
                                                                rel="noopener">Within Reach Group.</a></p>
    </div>

</div>