<div class="step black-text" data-x="6000"  data-y="-13800"  data-scale="2.5">
    <h1>DE QUE VA ESTO?</h1>
    <ul class="normal-text" style="margin-top: 100px">
        <li>Aprovisinamiento</li>
        <li>Desarrollo</li>
        <li>TESTS!!!!!</li>
        <li>Integración</li>
        <li>Deploy</li>
    </ul>
</div>