<div class="step" data-x="6000"  data-y="-13800"  data-scale="2.5">
    <h2>SOBRE QUE HABLAMOS?</h2>
    <ul class="black-text normal-text" style="margin-top: 50px">
        <li>Automatización</li>
        <li>Aprovisinamiento</li>
        <li>Desarrollo</li>
        <li>Tests</li>
        <li>Integración</li>
        <li>Deploy</li>
    </ul>
</div>