<div class="step" data-x="14300" data-y="0" data-scale="2.8">
    <h2>ENTORNO LOCAL (Desarrollo)</h2>
    <div>
        <p class="section">Requisitos:</p>
        <ul class="normal-text">
            <li>Realista (similar a producción)</li>
            <li>Adaptable a diferentes SO</li>
            <li>Docker</li>
        </ul>
    </div>
</div>